<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="sqlServerConn" connectionString="Data Source=10.5.2.43;Initial Catalog=eKanDB;User ID=sa;Password=123456"/>
  </connectionStrings>
  <appSettings>
    <add key="Department" value="A"/>
    <add key="Delaysetting" value="1"/>
    <add key="ServerIP" value="172.20.155.1"/>
    <add key="ServerPort" value="5000"/>
  </appSettings>
</configuration>
